<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/project</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">nspr6780</property>

		<property name="hibernate.hbm2ddl.auto">update</property> 
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>

		<mapping class="com.neu.finalproject.pojo.BloodDonor" />
		<mapping class="com.neu.finalproject.pojo.Person" />
		<mapping class="com.neu.finalproject.pojo.BloodRequester" />
		<mapping class="com.neu.finalproject.pojo.RequestAdvert" />
		<mapping class="com.neu.finalproject.pojo.AcceptedRequests" />

	</session-factory>
</hibernate-configuration>
